/*
* @author Joy Neop <www.joyneop.com>
*
* Shixia-and-Love Technology Inc is granted permanent, un-revokable, royalty-free, non-exclusive license.
*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic);

body {
	font-family: Libertad, Seravek, 'Myriad Pro', Glober, 'Open Sans', Roboto, 'Helvetica Neue', Helvetica, Arial, Verdana, 'Noto Sans SC', 'Source Han Sans CN', 'Noto Sans CJK', 'Source Han Sans', 'Lantinghei SC', 'Hiragino Sans GB', 'Heiti SC', sans-serif;
	color: #444;
	background: none;
}

.avatar {
	border-radius: 100cm;
	width: 3.38cm;
	height: 3.38cm;
}

h1 {
	font-weight: 400;
	color: #030303;
}

a {
}

.contact {
	font-weight: 300;
	color: #444;
}

.contact span {
}

.contact span em {
	font-style: normal;
	width: 130px;
}

.main {
	padding-top: 1cm;
}

.section {
	padding-bottom: 18pt;
}

.section-heading {
	font-weight: 600;
	color: #23A1E6;
	letter-spacing: 0.02rem;
	text-transform: uppercase;
	border-bottom: 0.8px solid #E5E5E5;
	padding-bottom: 3pt;
}

.subsection-tagline {
	font-weight: 400;
	color: #23A1E6;
	letter-spacing: 0.12rem;
	text-transform: uppercase;
}

h3 {
	font-weight: 600;
}

h3 .duration {
	font-weight: 200;
	color: #7A7A7A;
}

p {
	font-weight: 300;
	color: #030303;
}

p a {
	color: #23A1E6;
}

.ref {
	font-weight: 300;
	color: #777;
}


/* ----------------------------------------------------------- */


@media screen {
	.download-button {
		font-weight: 300;
		color: #FFF;
		background: #23A1E6;
		text-shadow: rgba(0, 0, 0, 0.1533333333) 0 1px 1px;
	}
	.download-button:hover {
		background: #2282CC;
	}
	.avatar {
		border: 0.8px solid #B4B4B4;
	}
}

@media print {
	body {
		color: #030303;
	}
	.avatar {
		border: 0.5pt solid #B4B4B4;
	}
	.section-heading, .subsection-tagline {
		color: #55AAFF;
	}
	.section-heading {
		border-bottom: 0.5pt solid #CCC;
	}
	h3 .duration, .ref {
		color: #999;
	}
	p {
		font-family: inherit;
		color: #030303;
	}
}

.theme-selection-line {
	background: #23A1E6;
}

.theme-selection-line span {
	text-shadow: inherit !important;
}